
/* Tirando cor padrão layout */

/* .dash_section_filho,
.dash_section_container{
    background-color: var(--cinza-2) !important;
} */

/* ajustei no pai a cor :) */

.menu_horizontal_calendario{
    display: flex;
    gap: 5%;
    align-self: flex-start;
    width: 100%;
}
.calendario_card_proximo_atendimento{
    background-color: var(--rosa-4);
    /* max-width: 100%; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 4% 3%;
    align-items: center;
    
    & .titulo-1{
        font-family: 'Poppins', sans-serif !important;
        font-weight: 500 !important;
    }

    & button{
        width: 230px;
        font-family: 'Poppins', sans-serif !important;
    }

    & .calendario_info_box_card_proximo_atendimento{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    & .calendario_buttons_box_card_proximo_atendimento{
        gap: 15px;
        display: flex;
        flex-direction: column;
    }

}

.div_section_calendar{
    width: 100%;
    height: 470px;
    display: flex;
}