.pagina_usuarios_funcionarios {

    .usuarios_funcionario_titulo_box {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;


    }

    .usuarios_card {
        display: flex;
        align-items: center;
        gap: 15px;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 16px;
        width: auto;
        min-width: 700px;
        padding: 25px 30px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .card-foto-cliente {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
    }

    .card-info {
        flex: 1;
    }

    .card-info h2 {
        font-size: 16px;
        margin: 0 0 5px 0;
    }

    .info-item {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 14px;
        color: #555;
        margin: 2px 0;
    }

    .card-buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .card-buttons button {
        padding: 8px 16px;
        border-radius: 20px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
    }

    .icon-small {
        width: 14px;
        /* controla o tamanho */
        height: 14px;
        margin-right: 6px;
        /* dá um espacinho entre o ícone e o texto */
        vertical-align: middle;
        /* alinha melhor com o texto */
    }

}