.foto_perfil_config {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    object-fit: cover;
    object-position: center;
}

.foto_perfil_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 10px;
}