.calendario_box_popup_concluir_agendamento {
    gap: 10px;
    display: flex;
    flex-direction: column;

    min-width: 300px;
}

.calendario_box_info_concluir_agendamento{
    display: flex;
    flex-direction: column;
    gap: 5px;

    & p{
        display: flex;
    }
}

.btn-fechar-detalhes-func {
    position: absolute;
    top: 10px;
    right: 17px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms;
}
.btn-fechar-detalhes-func:hover {
    color: var(--rosa-1);
}

.calendario_box_input_confirmar_agendamento {
    display: flex;
    flex-direction: column;

    & input {
        background-color: var(--rosa-2);
        border: none;
        padding: 5px;
        border-radius: 10px;

    }
}