/* Cobre a tela inteira e aplica blur no fundo */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.5); /* escurece o fundo */
    backdrop-filter: blur(5px); /* borra o fundo */
    -webkit-backdrop-filter: blur(5px); /* Safari support */

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}


.popup {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: top 0.6s ease, opacity 0.4s ease;
  z-index: 1000000;

  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 50px;
  border-radius: 32px;
  /* width: 25vw; */
  gap: 25px;
}

.popup.ativo {
  top: 50%;
  opacity: 1;
}


/* Animação de descida suave */
@keyframes slideDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* POPUP ALERTA */
.popup_alerta_titulo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  max-height: 48px;
}
