


.nome_servico_box {
    display: flex;
    justify-content: center;

    & p {
        font-weight: bold;
    }
}

.servico_agendamento_popup {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & input, select {
        background-color: var(--rosa-2);
        border: none;
        padding: 5px;
        border-radius: 10px;
        
    }
}


.button_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    & button{
        width: 45%;
    }
}