.avaliacao_section_pai {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    gap: 24px;
}

.avaliacao_section_carrossel {
    display: flex;
    align-items: center;
    width: 100% !important;
    height: auto;
    min-height: 370px;
    overflow: hidden;

    &:hover .group {
        animation-play-state: paused;
    }

    .group {
        display: flex;
        gap: 20px;
        padding-right: 20px;
        flex-shrink: 0;
        animation: scrolling 30s linear infinite;
    }
}

@keyframes scrolling {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.avaliacao_section_card {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;

    width: 429px;
    height: 346px;

    border-radius: 32px;
    border: 1px solid var(--rosa2, #FFF0F6);
    background: var(--rosa4, #FFF);
}

.avaliacao_section_card_infos {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 5px;
    width: 100%;
}

.img-avaliacao {
    height: 150px;
    border-radius: 8px;
}