.dash_servico_cupom{
    display: flex;
    gap: 10px;
    width: 100%;
}
.dash_servico_input_cupom {
  width: 100%;
  height: 50px;
  padding: 12px 14px;
  /* border-radius: 16px; */
  background-color: var(--cinza-1);
  border: none;
  border-bottom: 2px solid var(--marrom-1);
  
  /* padrao de input - para todas as paginas */
}

.dash_servico_input_pai {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: calc(50% - 5px);
  height: auto;
  /* Quando a input tiver um nome, a classe vai organizar o titulo com o campo de input */
}

.dash_marina_points_line{
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* gap: 8px; */
}

.input_marina_points{
    width: 20%;
    max-width: 100px;
    height: 35px;
    padding: 4px;
    margin-left: 8px;
    margin-right: 18px;
  
    background-color: var(--rosa-4);
    border: solid 1px var(--marrom-1);
    border-radius: 4px;

  }

.form_marina_p{
  /* width: 100vw !important; */
  min-width: 55vw !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 24px;
}